* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
	margin: 0;
	padding: 0;
}

header {
    background: #181818;
    height: 50px;
    padding: 5px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    text-decoration: none;
    color: #777;
}

nav > ul {
    float: right;
    margin: 0;
}

nav > ul > li {
    text-align: center;
    line-height: 40px;
    margin-left: 70px;
}

nav ul li:hover {
    cursor: pointer;
}

nav ul li:hover a{
    color: #fff;
}

nav > ul > li > a {
    text-decoration: none;
    cursor: pointer;
    display: block;
    outline: none;
}

nav > ul > li {
    float: left;
}

nav a {
    color: #cbc6c6;
	font-weight: bold;
}

label,
[type="checkbox"] {
    display: none;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    label {
        display: block;
        background: #222;
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 0px;
    }
	
    label:after,
	label:before {
        content:'';
    }
	
	label:before,
	label:after,
	label span {
		display: block;
        width: 50px;
        height: 5px;
        background: #777;
        margin: 7px 5px;
		transform: translateY(0) rotate(0deg);
    	transition: transform 1s, background-color 1s;
	}
	
	[type="checkbox"]:checked ~ label span {
		background: none;
    	transition: background 0.5s;
	}
	
	[type="checkbox"]:checked ~ label:before {
    transform: translateY(15px) rotate(45deg);
    transition: transform .8s;
	}
	
	[type="checkbox"]:checked ~ label:after{
    transform:translateY(-10px) rotate(-45deg);
    transition: transform .8s;
	}

    [type="checkbox"]:checked ~ ul {
        display: block;
        position: absolute;
		margin: 0;
		padding: 0;
		right: 0;
		left: 0;
		top: 45px

    }

    nav ul li {
        display: block;
        float: none;
        margin-left: 0px;
        text-align: left;
        background: #222;
        text-indent: 80%;
    }
}
