ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    display: block;
    position: relative;
    float: left;
    color: #ccc; }
    ul li input[type=radio] {
      position: absolute;
      visibility: hidden; }
      ul li input[type=radio]:checked + label::before {
        border: 5px solid #e1235f; }
      ul li input[type=radio]:checked + label::after {
        background: #e1235f;
        transform: scale(1); }
      ul li input[type=radio]:not(:checked) + label::after {
        transform: scale(0); }
    ul li label {
      display: block;
      position: relative;
      padding: 25px 25px 25px 70px;
      height: 30px;
      z-index: 9;
      cursor: pointer; }
      ul li label::before {
        display: block;
        position: absolute;
        content: '';
        border: 5px solid #ccc;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        top: 20px;
        left: 20px;
        z-index: 5; }
      ul li label::after {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 10px;
        width: 10px;
        top: 30px;
        left: 30px;
        margin: auto;
        transition: all .5s; }
    ul li:hover label {
      color: #aaa; }
      ul li:hover label::before {
        border-color: #aaa; }

/*# sourceMappingURL=styles.css.map */
