ul{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    display: block;
    position: relative;
    float: left;
    color: #ccc;

    input[type=radio]{
      position: absolute;
      visibility: hidden;

      &:checked{
        +label::before{
          border: 5px solid #e1235f;
        }

        +label::after{
          background: #e1235f;
          transform: scale(1);
        }
      };

      &:not(:checked){
        +label::after{
          transform: scale(0);
        }
      };
    }

    label {
      display: block;
      position: relative;
      padding: 25px 25px 25px 70px;
      height: 30px;
      z-index: 9;
      cursor: pointer;

      &::before {
        display: block;
        position: absolute;
        content: '';
        border: 5px solid #ccc;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        top: 20px;
        left: 20px;
        z-index: 5;
      }

      &::after {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 10px;
        width: 10px;
        top: 30px;
        left: 30px;
        margin: auto;
        transition: all .5s;
      }
    }

    &:hover {
      label {
        color: #aaa;

        &::before{
          border-color: #aaa;;
        }
      }
    }
  }
}

