ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    position: relative;
    float: left;
    color: #ccc;

    input[type="checkbox"] {
      position: absolute;
      visibility: hidden;

      &:checked {
        & + label::before {
          background: #8d48ab;
        }
        & + label::after {
          z-index: 10;
          transform: translateY(15%);
        }
      }

      &:not(:checked) {
        &+label::after{
          z-index: -10;
        }
      }
    }
  }

  label {
    display: block;
    position: relative;
    padding: 22px 22px 22px 50px;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      color: #aaa;

      &::before {
        background: #aaa;
      }
    }

    &::before {
      display: block;
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      top: 20px;
      left: 20px;
      z-index: 5;
      border-radius: 3px;
      background: #ccc;
    }

    &::after {
      display: block;
      position: absolute;
      content: "\2713";
      height: 10px;
      width: 10px;
      top: 18px;
      left: 24px;
      margin: auto;
      color: #fff;
      transition: all .5s;
      transform: translateY(100%);
    }
  }
}